@model VMSiteProjectSecurityItem[]
@{
    var filter = (SxFilter)ViewBag.Filter;
    var projectId = Convert.ToInt32(filter.AddintionalInfo[0]);
}

<h4>Ключи проекта</h4>
<div class="alert alert-info">
    На данной странице Вы можете задать ключи проекта (конфиденциальную информацию).
</div>
@Html.SxGridView(Model, new SxExtantions.SxGridViewSettings<VMSiteProjectSecurityItem> {
    Columns=new SxExtantions.SxGridViewColumn<VMSiteProjectSecurityItem>[] {
        new SxExtantions.SxGridViewColumn<VMSiteProjectSecurityItem>() { Caption="Описание", FieldName="Description" }
    },
    DataAjaxUrl=Url.Action("Index", "SiteProjectSecurityItems", new { projectId = projectId })
})