@model VMSiteService

@{ 
    ViewBag.Title = ViewBag.Title ?? Model.Title+" | Сервисы";
}

@section slider{
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Наши услуги</span>
            <span class="block-header__subtitle">Подробнее</span>
        </h2>
    </div>
}

<div class="service-page page">
    <h1 class="service__name page__header">@Model.Title</h1>
    <div class="service__html html">
        @Html.Raw(Model.Html)
    </div>
</div>