@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic';
@import (reference) "../bower_components/bootstrap/less/variables.less";

/*@color-accent: #22a7f0;*/
@color-accent: #F9690E;
@color-white: #fff;
@color-gray: #d5d5d5;
@color-black: #000;
@color-light-gray: #f8f9fa;

@def-pad: 15px;
@header-font-size: 17px;
@def-radius: 3px;

body {
    background-image: url('/content/dist/static/bg.jpg');
    background-attachment: fixed;
    font-family: 'PT Sans Narrow', sans-serif;
}

body > .wrapper {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    background-color: @color-white;
    padding: 0 @def-pad*2;
    position:relative;
}

a, a:visited, a:link, a:visited, a:focus {
    outline: none;
}

//navbar
@gf-navba-width:400px;
.gf-navbar-wrapper{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-8999;
}
.gf-navbar{
    position:fixed;
    width:@gf-navba-width;
    max-width:100%;
    right: 0;
    height: 100%;
    background-color:@color-white;
    padding:@def-pad*4 @def-pad*3;
    margin-right:-@gf-navba-width;
}

.gf-navbar__close-btn{
    text-align:right;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:@def-pad;
    font-size:15px;
}
.gf-navbar__close-btn > .fa{
    cursor:pointer;
}


.gf-menu{
    list-style:none;
    padding:0;
    margin:0;
}

.gf-menu a{
    color:@color-accent;
    text-transform:uppercase;
    border-bottom:1px solid @color-gray;
    display:block;
    line-height:40px;
    padding:10px 0;
    text-decoration:none;
    transition:all .4s;
    font-size:15px;
}
.gf-menu a > .fa-bars{
    margin-right:10px;
}


.gf-menu a:hover{
    color:@color-black;
    padding-left:@def-pad*2;
}

//slider
.slider {
    background-color: @color-accent;
    background-image: url('/content/dist/static/bg-slider.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-left: -@def-pad*2;
    margin-right: -@def-pad*2;
}

.slider__box::before, .slider__box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider__box::before {
    background-color: @color-accent;
    opacity: .8;
}

.slider__box {
}

.slider__box::after {
    background-image: url('/content/dist/static/bg-slider.png');
}

//header
header {
    color: @color-white;
    position: relative;
    z-index: 1000;
    padding: 0 @def-pad*2;
    display: table;
    width: 100%;
    font-size: 25px;
}

header a {
    color: inherit !important;
    text-decoration: none !important;
}

header .logo, header nav {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    line-height: 90px;

    @media (max-width: @screen-xs-max) {
        display: block;
        text-align: center;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

header .logo {
    text-transform: uppercase;
}

header .logo__before {
    font-weight: 700;
}

header nav {
    text-align: right;

    @media (max-width: @screen-xs-max) {
        text-align: center;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

//slider__content
.slider__content {
    padding: @def-pad*4 0 @def-pad*20;
    position: relative;
    z-index: 1000;
    text-align: center;
    color: @color-white;
}

.slider__item {
    max-width: 70%;
    margin: 0 auto;
}

//txt
.txt {
    color: rgb(149, 149, 149);
    line-height: 32px;
    font-size: @header-font-size;
}

//btn-box
.btn-box {
    text-align: center;
    padding: @def-pad*4 0;
}

.btn-box > .btn {
    background-color: @color-accent;
    border-radius: @def-radius;
    text-transform: uppercase;
    color: @color-white;
    padding: @def-pad @def-pad*3;
    font-size: @header-font-size;
}

//block-header
.block-header {
    padding: @def-pad*4 @def-pad*2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: @header-font-size;
    max-width: 100%;
}

.block-header__title {
    display: inline-block;
    margin: 0;
    padding: @def-pad*2 @def-pad*6;
    border: 1px solid @color-gray;
    border-radius: @def-radius;
    position: relative;
    font-size: 30px;
    font-weight: 700;

    @media (max-width: @screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.block-header__subtitle::before {
    content: '';
    background-color: @color-white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 60%;
    left: 20%;
}

.block-header__subtitle {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    font-size: @header-font-size;
    font-weight: normal;
    z-index: 1;
}

//content
.content {
    background-color: @color-light-gray;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-left: -@def-pad*2;
    margin-right: -@def-pad*2;
    padding: @def-pad*2 @def-pad*2 0;
}

.content .block-header__subtitle::before {
    background-color: @color-light-gray;
}

//services
.services {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.services > li {
    width: 50%;
    float: left;
    vertical-align: top;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        float: none;
        text-align: center;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 100%;
        float: none;
        text-align: center;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.services > li:nth-child(2n) {
    text-align: right;

    @media (max-width: @screen-xs-max) {
        text-align: center;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        text-align: center;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.service__item {
    border: 1px solid @color-gray;
    padding: @def-pad*2;
    border-radius: @def-radius;
    margin-bottom: @def-pad*6;
    position: relative;
    background-color: @color-white;
    width: 70%;
    z-index: 0;
    transition: all .4s;
    padding-right: @def-pad*4;

    @media (max-width: @screen-xs-max) {
        padding-right: @def-pad*2;
        width: 100%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-right: @def-pad*2;
        width: 100%;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

@keyframes service_aminate_right {
    from {
        left: 0;
    }

    to {
        left: 100px;
    }
}

@keyframes service_aminate_left {
    from {
        right: 0;
    }

    to {
        right: 100px;
    }
}

.service__item:hover {
    border-color: @color-accent;

    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        animation: service_aminate_right .5s 1 ease-out;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @media (min-width: @screen-lg-min) {
        animation: service_aminate_right .5s 1 ease-out;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
}

.services > li:nth-child(2n) > .service__item:hover {
    @media (max-width: @screen-xs-max) {
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        animation: service_aminate_left .5s 1 ease-out normal;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @media (min-width: @screen-lg-min) {
        animation: service_aminate_left .5s 1 ease-out normal;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
}

.service__item::after {
    content: '';
    height: 1px;
    background-color: @color-gray;
    position: absolute;
    width: 50%;
    left: 100%;
    top: 50%;
    z-index: -1;

    @media (max-width: @screen-xs-max) {
        content: none;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        content: none;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}


.services > li:nth-child(2n) > .service__item {
    float: right;
    padding-right: @def-pad*2;
    padding-left: @def-pad*4;

    @media (max-width: @screen-xs-max) {
        float: none;
        padding: @def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        float: none;
        padding: @def-pad*2;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.services > li:nth-child(2n) > .service__item:after {
    right: 100%;
    left: auto;
}

.service__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.service__title {
    text-transform: uppercase;
    font-weight: 700;
    transition: all .4s;
}

.service__item:hover .service__title {
    color: @color-accent;
}

.service__desc {
    .txt;
    font-size: 15px;
}

.service__img {
    position: absolute;
    right: 0;
    border: 1px solid @color-gray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: @color-white;
    padding-top: @def-pad;
    top: 50%;
    margin-top: -@def-pad*2;
    right: -@def-pad*2;
    transition: all .4s;

    @media (max-width: @screen-xs-max) {
        top: auto;
        right: auto;
        bottom: -30px;
        margin-top: auto;
        left: auto;
        margin-left: -30px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        top: auto;
        right: auto;
        bottom: -30px;
        margin-top: auto;
        left: auto;
        margin-left: -30px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.service__item:hover .service__img {
    border-color: @color-accent;
    color: @color-accent;
}

.services > li:nth-child(2n) .service__img {
    left: -@def-pad*2;

    @media (max-width: @screen-xs-max) {
        left: auto;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        left: auto;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

//employees
.employees {
    padding: @def-pad*4 0 0;
}

@employe-avatar-size: 126px;

.employe__item {
    text-align: center;
    position: relative;
    border: 1px solid @color-gray;
    border-radius: @def-radius;
    padding: @def-pad @def-pad @def-pad*2;
    padding-top: @employe-avatar-size/2 + @def-pad*2;
    transition: all .4s;
    margin-bottom: @def-pad*4;

    @media (max-width: @screen-xs-max) {
        margin-bottom: @def-pad*6;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-bottom: @def-pad*6;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.employe__item:hover {
    background-color: @color-accent;
    color: @color-white;
}

.employe__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.employe__avatar {
    width: @employe-avatar-size;
    height: @employe-avatar-size;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -@employe-avatar-size/2;
    top: -@employe-avatar-size/2;
    border: 5px solid @color-white;
    box-sizing: border-box;
    transition: all .4s;
}

.employe__avatar::after {
    content: '';
    position: absolute;
    width: @employe-avatar-size;
    height: @employe-avatar-size;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    border: 1px solid @color-gray;
    border-radius: 100%;
}

.employe__item:hover .employe__avatar::after {
    border: none;
}

.employe__title {
    text-transform: uppercase;
    font-size: @header-font-size;
    color: @color-accent;
    font-weight: 700;
    transition: all .4s;
}

.employe__desc {
    .txt;
    padding: @def-pad 0;
    font-size: 15px;
    line-height: 24px;
    transition: all .4s;
}

.employe__item:hover .employe__desc, .employe__item:hover .employe__title {
    color: @color-white;
}

.employe__icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: @def-pad*2;
}

.employe__icons > li {
    display: inline-block;
}

.employe__icons > li > a {
    border: 1px solid @color-gray;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: inherit;
    margin: 0 5px;
    transition: all .4s;
}

.employe__item:hover .employe__icons > li > a {
    background-color: @color-white;
    border-color: @color-white;
    color: @color-black;
}

//projects
.projects {
    background-image: url('/content/dist/static/bg-projects.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-right: -@def-pad*2;
    margin-left: -@def-pad*2;
    color: @color-white;
    position: relative;
    padding: 0 @def-pad*2;
}

.projects::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/content/dist/static/bg-slider.png');
}

.projects .block-header__title {
}

.projects .block-header__subtitle::before {
    background-image: url('/content/dist/static/bg-projects.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.projects__btns {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: @def-pad*2;
}

.projects__btns > .btn {
    border: 1px solid @color-white;
    color: @color-white;
    margin-bottom: @def-pad*2;
}

.projects__btns.btn-box > a {
    background-color: transparent;
}

.projects__box {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    position: relative;
    z-index: 1;
}

.project__item {
    width: 33.33%;
    padding-bottom: 270px;
    vertical-align: top;
    position: relative;
    display: inline-block;

    @media (max-width: @screen-xs-max) {
        width: 50%;
        padding-bottom: 50%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.project__item > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
}

/*@keyframes project_aminate {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 110%;
    }

    100% {
        background-size: 100%;
    }
}

.project__item > a:hover {
    animation: project_aminate .5s 1 ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}*/

.project__item > a::before, .project__item > a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: opacity .35s, transform .35s;
    background-image: linear-gradient(to left top, rgba(0,0,0,.1), rgba(0,0,0,.3));
}

.project__item > a::after {
    transform: scale(1,0);
    opacity: 0;
    /*border-left: 1px solid @color-white;
    border-right: 1px solid @color-white;*/
}

.project__item > a::before {
    /*border-top: 1px solid @color-white;
    border-bottom: 1px solid @color-white;*/
}

.project__item > a:hover::before, .project__item > a:hover::after {
    transform: scale(1);
    opacity: 1;
}

//partners
.partners {
    padding-bottom: @def-pad*4;
}

.partners__box {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    font-size: 0;
    position: relative;
}

.partners__box::after {
    content: '';
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.partners__box > li {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 195px;
    position: relative;
    border-bottom: 1px solid @color-gray;
    border-right: 1px solid @color-gray;

    @media (max-width: @screen-xs-max) {
        width: 50%;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 50%;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.partners__box > li > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .4s;
}

.partners__box > li > a:hover {
    background-position: 100% 0;
}

//subscribe-box
.subscribe-box {
    background-image: url('/content/dist/static/bg-slider.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: -@def-pad*2;
    margin-right: -@def-pad*2;
    position: relative;
    color: @color-white;
    padding: @def-pad*4 @def-pad*2;
    z-index: 1;
}

.subscribe-box::after {
    content: '';
    background-color: @color-accent;
    opacity: .8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

//testemonials

@testemonial__content-height: 182px;

.testemonials {
    background-color: @color-light-gray;
    margin-left: -@def-pad*2;
    margin-right: -@def-pad*2;
    padding: 0 @def-pad*2;
    padding-bottom: @def-pad*4;

    @media (max-width: @screen-xs-max) {
        padding-bottom: @def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-bottom: @def-pad*2;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.testemonials .block-header__subtitle::before {
    background-color: @color-light-gray;
}

.testemonials-wrapper {
    height: @testemonial__content-height;
    overflow: hidden;

    @media (max-width: @screen-xs-max) {
        height: auto;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: auto;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.testemonials-box {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.testemonials-box > .testemonial__item {
    float: left;
    width: 50%;
    position: relative;
    padding-right: @def-pad*3;

    @media (max-width: @screen-xs-max) {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-bottom: @def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-bottom: @def-pad*2;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.testemonials-box > .testemonial__item:nth-child(2n) {
    padding-right: 0;
    padding-left: @def-pad*3;

    @media (max-width: @screen-xs-max) {
        padding-left: 0;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-left: 0;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.testemonials-box > .testemonial__item:hover .testemonial__content, .testemonials-box > .testemonial__item:hover .testemonial__content::after {
    border-color: @color-accent !important;
}

@testemonial__avatar-size: 125px;

.testemonial__avatar {
    display: block;
    width: @testemonial__avatar-size;
    height: @testemonial__avatar-size;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -@testemonial__avatar-size/2;
    left: 0;
}

.testemonials-box > .testemonial__item:nth-child(2n) .testemonial__avatar {
    right: 0;
    left: auto;
}

.testemonial__content {
    margin-left: @testemonial__avatar-size + @def-pad*3;
    border: 1px solid @color-gray;
    border-radius: @def-radius;
    padding: @def-pad*2;
    background-color: @color-white;
    position: relative;
    height: @testemonial__content-height;
    transition: all .4s;

    @media (max-width: @screen-xs-max) {
        height: auto;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: auto;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.testemonials-box > .testemonial__item:nth-child(2n) .testemonial__content {
    margin-right: @testemonial__avatar-size + @def-pad*3;
    margin-left: auto;
}

.testemonial__content::after {
    content: "";
    display: block;
    overflow: hidden;
    width: @def-pad;
    height: @def-pad;
    left: -8px;
    top: 50%;
    margin-top: -8px;
    position: absolute;
    transform: rotate(-45deg);
    background: #fff;
    border-left: 1px solid @color-gray;
    border-top: 1px solid @color-gray;
    transition: all .4s;
}

.testemonials-box > .testemonial__item:nth-child(2n) .testemonial__content::after {
    left: auto;
    right: -8px;
    border-left: none;
    border-top: none;
    border-right: 1px solid @color-gray;
    border-bottom: 1px solid @color-gray;
}

.testemonial__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: @header-font-size;
    transition: all .4s;
}

.testemonial__content:hover .testemonial__title {
    color: @color-accent;
}

.testemonial__desc {
    .txt;
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
}


//prices

.prices {
    padding-bottom: @def-pad*4;
}

.prices-box {
    margin: 0 auto;
    max-width: 70%;
    @media (max-width: @screen-xs-max) {
        max-width:unset;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.price__item {
    text-align: center;
    position: relative;
    @media (max-width: @screen-xs-max) {
        padding-bottom:@def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.price__item-content {
    border: 1px solid @color-gray;
    border-radius: @def-radius;
    transition: all .4s;
    position:relative;
}

.price__link{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.price__item:hover .price__item-content, .price__item.active .price__item-content {
    border-color: @color-accent;
    color: @color-accent;
}

.price__header {
    background-color: #ebeef0;
    padding-top: @def-pad*2;
    padding-bottom: @def-pad*2;
    text-transform: uppercase;
    font-size: @header-font-size;
    font-weight: 700;
}

.price__item:hover .price__header, .price__item.active .price__header {
    color: @color-white;
    background-color: @color-accent;
    transition: all .4s;
}

.price__value {
    font-size: 25px;
}

.price__levels {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 0 @def-pad*2;
}

.price__level {
    border-bottom: 1px solid @color-accent;
    padding: @def-pad 0;
    font-size: 14px;
}

.price__level:last-child {
    border-bottom: none;
}

.price__footer > .btn {
    text-transform: uppercase;
    font-size: @header-font-size;
    background-color: @color-accent;
    color: @color-white;
    border-radius: @def-radius;
    margin-top: @def-pad;
    visibility: hidden;
    display:block;
}

.price__item:hover .price__footer > .btn, .price__item.active .price__footer > .btn {
    visibility:visible;
}

//downloads
.downloads{
    background-color:@color-black;
    color:@color-white;
    margin-left:-@def-pad*2;
    margin-right:-@def-pad*2;
    padding-bottom:@def-pad*2;
}

.downloads .block-header__subtitle::before{
    background-color:@color-black;
}

.downloads__btns{
    text-align:center;
    @media (max-width: @screen-xs-max) {
        padding:@def-pad*2;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.downloads__btns .btn{
    padding:@def-pad @def-pad*2;
    border:1px solid @color-white;
    color:@color-white;
    text-transform:uppercase;
    margin-right:@def-pad;
    margin-bottom:@def-pad*2;
    @media (max-width: @screen-xs-max) {
        width:100%;
        margin-right:0;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

.downloads__btns .btn:last-child{
    margin-right:0;
}

.downloads__btns .btn > .fa{
    font-size:20px;
    margin-right:@def-pad;
}

//contacts
.contacts{
    background-color:@color-accent;
    color:@color-white;
    margin-left:-@def-pad*2;
    margin-right:-@def-pad*2;
}

.contacts .block-header__subtitle::before{
    background-color:@color-accent;
}

.contacts .txt{
    color:@color-white;
}

.contacts-box{
    padding-right:@def-pad*2;
    padding-left:@def-pad*2;
}

.contact__item{
    text-align:center;
    padding-bottom:@def-pad*4;
}

.contact__img > .fa{
    width:67px;
    height:67px;
    line-height:67px;
    border:1px solid @color-white;
    border-radius:100%;
    text-align:center;
    font-size: 250%;
}