@model SxVMSitePartner[]

@Html.SxGridView(Model, new SxExtantions.SxGridViewSettings<SxVMSitePartner>()
{
    Columns = new SxExtantions.SxGridViewColumn<SxVMSitePartner>[] {
        new SxExtantions.SxGridViewColumn<SxVMSitePartner> { Caption="Наименование партнера", FieldName="Title"},
        new SxExtantions.SxGridViewColumn<SxVMSitePartner> { Caption="Описание", FieldName="Description"},
        new SxExtantions.SxGridViewColumn<SxVMSitePartner> { Caption="Сайт", FieldName="Url", Template=x=> { return string.Format("<a href=\"{0}\" target=\"_blank\"><i class=\"fa fa-link\"></i> {1}</a>", x.Url, x.Url); } }
    },
    DataAjaxUrl = Url.Action("Index"),
    EnableCreating = true,
    CreateRowUrl = Url.Action("Edit"),
    EnableEditing = true,
    EditRowUrl = x => Url.Action("Edit", new { id = x.Id })
})
