<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbContext"
      connectionString="Server=37.140.192.131;Database=u0240480_goldfish;User ID=u0240480_goldfish;Password=Luia124445#;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpRuntime enableVersionHeader="false" xdt:Transform="Replace"/>
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"></urlCompression>
    <staticContent>
      <clientCache cacheControlCustom="public;max-age" cacheControlMaxAge="10.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>