@section styles{
    <style>
        html, body, .wrapper, .slider, .slider__box, .slider__content {
            height: 100%;
        }

        .wrapper {
            padding-bottom: 0 !important;
        }

        .slider__content {
            margin-top: -90px;
            padding-top: 90px;
        }
    </style>
}

@section slider{
    <p>Поздравляем!.<br /> Ваш аккаунт успешно создан. <br /> Воспользуйтесь формой входа</p>
}


