@section styles{
    <style>
        html, body, .wrapper, .slider, .slider__box, .slider__content {
            height: 100%;
        }

        .wrapper {
            padding-bottom: 0 !important;
        }

        .slider__content {
            margin-top: -90px;
            padding-top: 90px;
        }
    </style>
}

@section slider{
    <p>На указанный при регистрации адрес электронной почты отправлена инструкция по завершению регистрациии на сайте.<br /> Пожалуйста, подтвердите Ваш email.</p>
}
