@{
    var types = ModelCoreTypeProvider.ModelCoreTypeNames;
}

<ul class="nav nav-pills" id="mcts">
    @foreach (var type in types)
    {
        <li role="presentation" data-mct="@type.Key" data-title="@type.Value"><a href="#">@type.Value</a></li>
    }
</ul>
