<div id="navbar">
    <div class="gf-navbar-wrapper">
        <div class="gf-navbar">
            <div class="gf-navbar__close-btn"><i class="fa fa-times"></i></div>
            <ul class="gf-menu">
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu1</a>
                </li>
            </ul>
        </div>
    </div>
</div>
