@{
    var title = SiteSettingsProvider["home-page-subscribe-title"]?.Value;
    var desc = SiteSettingsProvider["home-page-subscribe-desc"]?.Value;
}

<form method="post" class="subscribe-box">
    <div>
        <div class="item item1">
            <h4>@(string.IsNullOrEmpty(title) ? "Подпишитесь на наши новости" : title)</h4>
            <p>@(string.IsNullOrEmpty(desc) ? "Будьте в курсе последних событий IT разработки!" : title)</p>
        </div>
        <div class="item item2">
            <input type="email" name="email" class="form-control" placeholder="Укажите адрес электронной почты" />
        </div>
        <div class="item item3">
            <button type="submit" class="btn">Подписаться</button>
        </div>
    </div>
</form>
