@section slider{
    <div class="slider__item">
        <div class="row">
            <div class="col-md-6">
                <div style="text-align:center">
                    <img src="/content/dist/temp/iphone.png" />
                </div>
            </div>
            <div class="col-md-6">
                <div style="text-align:left">
                    <h4 style="text-transform:uppercase;">Закажи прямо сейчас!</h4>
                    <span>Результат не заставит себя ждать</span>
                    <ul style="list-style:none; padding: 0; margin-top:60px;">
                        <li style="margin-bottom:45px;">
                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                            <h4 style="text-transform:uppercase;">Профессиональная разработка сайтов на ASP.NET MVC</h4>
                            <span>Соблюдая стандарты и сроки</span>
                        </li>
                        <li style="margin-bottom:45px;">
                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                            <h4 style="text-transform:uppercase;">Разработка дизайн-проектов</h4>
                            <span>Услуги лучших web-дизайнеров</span>
                        </li>
                        <li style="margin-bottom:45px;">
                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                            <h4 style="text-transform:uppercase;">Html верстка</h4>
                            <span>Верстка на основе современных стандартов</span>
                        </li>
                        <li style="margin-bot tom:45px;">
                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                            <h4 style="text-transform:uppercase;">Анализ и продвижение</h4>
                            <span>Продвижение Вашего сайта в основных поисковых системах</span>
                        </li>
                        <li style="margin-bottom:45px;">
                            <span class="fa fa-check icon" style="border-radius: 100%; border: 1px solid rgb(255, 255, 255); padding: 15px;float: left; margin-right: 20px;"></span>
                            <h4 style="text-transform:uppercase;">Курсы по разработке сайтов</h4>
                            <span>Участникам клуба - скидки!</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="block-header">
    <h2 class="block-header__title">
        <span>@MvcApplication.DefaultSiteName</span>
        <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
    </h2>
</div>
<p class="txt" style="max-width:70%; margin:0 auto; text-align:center; padding-bottom:60px;">
    Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
</p>
<div class="btn-box">
    <a class="btn">Подробнее о нас</a>
</div>
<div class="text-center">
    <img style="max-width:100%;" src="/content/dist/temp/aboutactiveapps.jpg" />
</div>
<div class="content">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Что Вы получаете</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="max-width:70%; margin:0 auto; text-align:center; padding-bottom:60px;">
        Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
    </p>
    @Html.Action("ListMainPage", "SiteServices", new { amount=6 } )
</div>

@Html.Action("ListForHome", "Employees", new { amount=4 })

@Html.Action("ListForHome", "SiteProjects", new { amount = 12 })

<div class="partners">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Наши партнеры</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="text-align:center; max-width:50%; margin:0 auto; padding-bottom:45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare neque lectus, sed volutpat libero efficitur finibus. Nullam pulvinar urna et mollis bibendum.</p>
    <ul class="partners__box">
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner1.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner2.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner3.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner4.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner4.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner3.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner2.png')"></a>
        </li>
        <li>
            <a href="#" style="background-image:url('/content/dist/temp/partner1.png')"></a>
        </li>
    </ul>
</div>
<div class="subscribe-box">
    <div class="row">
        <div class="col-md-6">
            <h4>Subscribe to our newsletter</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit aenean dolor.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="testemonials">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Отзывы клиентов</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="text-align:center; max-width:50%; margin:0 auto; padding-bottom:45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare neque lectus, sed volutpat libero efficitur finibus. Nullam pulvinar urna et mollis bibendum.</p>
    <div class="testemonials-wrapper">
        <ul class="testemonials-box">
            <li class="testemonial__item">
                <span class="testemonial__avatar" style="background-image:url('/content/dist/temp/testemonial3.jpg')"></span>
                <div class="testemonial__content">
                    <div class="testemonial__title">Caitlin Carter</div>
                    <div class="testemonial__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus placerat lacus sagittis bibendum. Nulla facilisi. Sed luctus nec mi sed lacinia. Curabitur arcu purus, congue eu massa non.</div>
                </div>
            </li>
            <li class="testemonial__item">
                <span class="testemonial__avatar" style="background-image:url('/content/dist/temp/testemonial4.jpg')"></span>
                <div class="testemonial__content">
                    <div class="testemonial__title">Caitlin Carter</div>
                    <div class="testemonial__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus placerat lacus sagittis bibendum. Nulla facilisi. Sed luctus nec mi sed lacinia. Curabitur arcu purus, congue eu massa non.</div>
                </div>
            </li>
            <li class="testemonial__item">
                <span class="testemonial__avatar" style="background-image:url('/content/dist/temp/testemonial3.jpg')"></span>
                <div class="testemonial__content">
                    <div class="testemonial__title">Caitlin Carter</div>
                    <div class="testemonial__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus placerat lacus sagittis bibendum. Nulla facilisi. Sed luctus nec mi sed lacinia. Curabitur arcu purus, congue eu massa non.</div>
                </div>
            </li>
            <li class="testemonial__item">
                <span class="testemonial__avatar" style="background-image:url('/content/dist/temp/testemonial4.jpg')"></span>
                <div class="testemonial__content">
                    <div class="testemonial__title">Caitlin Carter</div>
                    <div class="testemonial__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus placerat lacus sagittis bibendum. Nulla facilisi. Sed luctus nec mi sed lacinia. Curabitur arcu purus, congue eu massa non.</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="prices">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Расценки</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="text-align:center; max-width:50%; margin:0 auto; padding-bottom:45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare neque lectus, sed volutpat libero efficitur finibus. Nullam pulvinar urna et mollis bibendum.</p>
    <div class="prices-box">
        <div class="row">
            <div class="col-md-4">
                <div class="price__item">
                    <div class="price__item-content">
                        <a href="#" class="price__link"></a>
                        <div class="price__header">
                            Basic Plan<br />
                            <span class="price__value">$88.95</span>
                        </div>
                        <ul class="price__levels">
                            <li class="price__level">20GB storage</li>
                            <li class="price__level">3GB bandwidth</li>
                            <li class="price__level">10 Email Addresses</li>
                            <li class="price__level">24/7 security monitoring</li>
                            <li class="price__level">24/7 technical support</li>
                        </ul>
                    </div>
                    <div class="price__footer">
                        <btn class="btn">Order now</btn>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price__item active">
                    <div class="price__item-content">
                        <a href="#" class="price__link"></a>
                        <div class="price__header">
                            Basic Plan<br />
                            <span class="price__value">$88.95</span>
                        </div>
                        <ul class="price__levels">
                            <li class="price__level">20GB storage</li>
                            <li class="price__level">3GB bandwidth</li>
                            <li class="price__level">10 Email Addresses</li>
                            <li class="price__level">24/7 security monitoring</li>
                            <li class="price__level">24/7 technical support</li>
                        </ul>
                    </div>
                    <div class="price__footer">
                        <btn class="btn">Order now</btn>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price__item">
                    <div class="price__item-content">
                        <a href="#" class="price__link"></a>
                        <div class="price__header">
                            Basic Plan<br />
                            <span class="price__value">$88.95</span>
                        </div>
                        <ul class="price__levels">
                            <li class="price__level">20GB storage</li>
                            <li class="price__level">3GB bandwidth</li>
                            <li class="price__level">10 Email Addresses</li>
                            <li class="price__level">24/7 security monitoring</li>
                            <li class="price__level">24/7 technical support</li>
                        </ul>
                    </div>
                    <div class="price__footer">
                        <btn class="btn">Order now</btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="downloads">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Расценки</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="text-align:center; max-width:50%; margin:0 auto; padding-bottom:45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare neque lectus, sed volutpat libero efficitur finibus. Nullam pulvinar urna et mollis bibendum.</p>
    <div class="downloads__btns">
        <a href="#" class="btn"><i class="fa fa-windows"></i> Download on windows store</a>
        <a href="#" class="btn"><i class="fa fa-mobile"></i> Download on itunes</a>
        <a href="#" class="btn"><i class="fa fa-apple"></i> Download on app store</a>
        <a href="#" class="btn"><i class="fa fa-android"></i> Download for android</a>
    </div>
</div>
<div class="contacts">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Контакты</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>
    <p class="txt" style="text-align:center; max-width:50%; margin:0 auto; padding-bottom:45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare neque lectus, sed volutpat libero efficitur finibus. Nullam pulvinar urna et mollis bibendum.</p>
    <div class="contacts-box">
        <div class="row">
            <div class="col-md-4">
                <div class="contact__item">
                    <div class="contact__img"><i class="fa fa-phone"></i></div>
                    <div class="contact__header">Give us a call</div>
                    <div class="contact__desc">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact__item">
                    <div class="contact__img"><i class="fa fa-phone"></i></div>
                    <div class="contact__header">Give us a call</div>
                    <div class="contact__desc">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact__item">
                    <div class="contact__img"><i class="fa fa-phone"></i></div>
                    <div class="contact__header">Give us a call</div>
                    <div class="contact__desc">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
            </div>
        </div>
    </div>
</div>