<div class="block-header">
    <h2 class="block-header__title">
        <span>@MvcApplication.DefaultSiteName</span>
        <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
    </h2>
</div>

<p class="txt" style="max-width:70%; margin:0 auto; text-align:center; padding-bottom:60px;">
    Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития. 
</p>

<div class="btn-box">
    <a class="btn">Подробнее о нас</a>
</div>

<div class="text-center">
    <img src="/content/dist/temp/aboutactiveapps.jpg" />
</div>

<div class="content">
    <div class="block-header">
        <h2 class="block-header__title">
            <span>Что Вы получаете</span>
            <span class="block-header__subtitle">Наш супер-пупер лозунг!</span>
        </h2>
    </div>

    <p class="txt" style="max-width:70%; margin:0 auto; text-align:center; padding-bottom:60px;">
        Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития. 
    </p>

    <ul class="services">
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
        <li>
            <div class="service__item">
                <a href="#" class="service__link"></a>
                <h4 class="service__title">Duis placerat lacinia odio</h4>
                <p class="service__desc">Vestibulum bibendum pharetra lorem non feugiat. Cras porttitor consequat neque, eu blandit odio accumsan.</p>
                <span class="service__img fa fa-star"></span>
            </div>
        </li>
    </ul>
</div>