@model SxVMMenuItem[]

<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Поиск...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </li>
    @if(User.IsInRole("architect"))
    {
        <li>
            <a href="@Url.Action("Index", "MenuItems")"><i class="fa fa-sitemap fa-fw"></i> Меню панели</a>
        </li>
    }
    @if(Model.Any())
    {
        SxVMMenuItem item = null;
        for (int i = 0; i < Model.Length; i++)
        {
            item = Model[i];
            @Html.Partial("_AdminMenuItem", item)
        }
    }

</ul>

