@model SxVMMenuItem[]

@Html.SxTreeView(Model, new SxExtantions.SxTreeViewTreeViewSettings<SxVMMenuItem> {
    Columns=new SxExtantions.SxTreeViewColumn<SxVMMenuItem>[] {
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Заголовок", FieldName="Title" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Иконка", FieldName="IconCssClass", Template=x=> { return string.Format("<i class=\"{0}\"></i>", x.IconCssClass); } },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Область", FieldName="Area" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Контроллер", FieldName="Controller" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Действие", FieldName="Action" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Строка запроса", FieldName="QueryString" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Роли", FieldName="Roles" },
        new SxExtantions.SxTreeViewColumn<SxVMMenuItem>() { Caption="Порядок", FieldName="Order" }
    },
    FuncCreateUrl = () => { return Url.Action("Edit", "MenuItems", new { menuName = "admin-panel" }); },
    EnableEditing=true,
    FuncEditUrl=x=> { return Url.Action("Edit", "MenuItems", new { id=x.Id, menuName = x.MenuName, menuItemId=x.ParentId }); },
    FuncEditSubNodeUrl = x => { return Url.Action("Edit", "MenuItems", new { menuName = x.MenuName, menuItemId = x.Id }); },
    FuncContent = x => { return string.Format("<span>{0}</span><i class=\"pull-right {1}\"></i>", x.Title, x.IconCssClass); }
}, new { @class= "sx-tv table table-condensed table-bordered table-responsive" })