@model SxVMMenuItem[]
@{ 
    ViewBag.Title = "Пункты меню панели управления";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="alert alert-warning">
    <p><b>Внимание</b>! Без создания пунктов меню панель управления будет недоступна</p>
</div>

<div id="grid-menu">
    @Html.Partial("_GridView", Model)
</div>

@section scripts{
    <script>
        $(function () {
            $('#grid-menu').sx_gv();
        });
    </script>
    }
